.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

nav a {
  padding: 25px;
}

.paginator {
  display: inline-flex;
  margin-bottom: 25px;
}

.paginator button {
  height: 50%;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
}

.catalog a {
  width: 20%;
  margin: 15px;
}

.sidebar {
  display: flex;
  flex-flow: column;
  max-width: 30%;
}

.mainbar {
  max-width: 70%;
}

.card-footer a {
  margin: 0 25px;
}

/* .container {
  display: inline-block;
} */


/* search bar */
.search-form {
  --searchButtonWidth: 75px;

  max-width: 320px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.search-input {
  border: 0;
  margin: 0;
  padding: 0.5rem calc(var(--searchButtonWidth) + 00.5rem) 0.5rem 0.5rem;
  border-radius: 8px;
  width: 100%;
  -webkit-appearance: none;
  font-size: 13px;
}

.search-input:focus {
  outline: 0;
  background: white;
}

.search-input:not(:placeholder-shown) ~ .search-button {
  transform: translateX(calc(-1 * var(--searchButtonWidth)));
}

.search-button {
  border: 0;
  padding: 0.5rem;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 100%;
  width: var(--searchButtonWidth);
  transition: 0.2s;
  background: #455A64;
  color: white;
  font-size: 13px;
  height: 100%;
}

.search-button:focus {
  outline: 0;
  background: #222;
}

.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}